apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - zookeeper
  - nifi

images:
  - name: nifi-image
    newName: apache/nifi
    newTag: 2.7.2
  - name: zookeeper-image
    newName: zookeeper
    newTag: 3.9.1
  - name: busybox-image
    newName: busybox

