apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  labels:
    app: zookeeper
  annotations:
    app.kubernetes.io/name: zookeeper
    app.kubernetes.io/part-of: nifi
spec:
  type: NodePort
  selector:
    app: zookeeper
  ports:
    - protocol: TCP
      port: 2181
      targetPort: 2181
      nodePort: 30080
      name: zk
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30081
      name: http
