apiVersion: v1
kind: Service
metadata:
  name: nifi
  namespace: nifi
spec:
  selector:
    app: nifi
  type: NodePort
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: 8443
      nodePort: 30084
