apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base/zookeeper
  - ../../base/nifi

images:
  - name: nifi-image
    newName: apache/nifi
    newTag: 2.7.2
  - name: zookeeper-image
    newName: zookeeper
    newTag: 3.9.1
  - name: busybox-image
    newName: busybox
    newTag: latest


# Overlay environment-specific secrets
secretGenerator:
  - name: nifi-auth
    literals:
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=admin123456!
    type: Opaque

# Patch deployment for replicas & proxy host
patches:
  - path: patch-replicas.yaml
    target:
      kind: Deployment
      name: nifi
  - path: patch-proxy-host.yaml
    target:
      kind: ConfigMap
      name: nifi-cm



