<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>com.babcock.openfire.plugin.rest.MucRestApiPlugin</class>
    <name>MUC REST API Plugin</name>
    <description>
        REST API for MUC operations.
        Authorization: Babcock Australia
    </description>
    <author>Babcock</author>
    <version>1.0.0</version>
    <date>19/06/2026</date>
    <minServerVersion>5.0.0</minServerVersion>
    <csrfProtectionEnabled>false</csrfProtectionEnabled>
</plugin>
