---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nifi-cm
data:
  # Web Ports
  NIFI_WEB_HTTP_PORT: ""
  NIFI_WEB_HTTPS_PORT: "8443"
  NIFI_WEB_PROXY_HOST: "localhost:30084"

  # Cluster Mode
  NIFI_CLUSTER_IS_NODE: "true"
  NIFI_CLUSTER_NODE_PROTOCOL_PORT: "11443"
  NIFI_CLUSTER_NODE_PROTOCOL_IS_SECURE: "true"
  NIFI_SECURITY_NEED_CLIENT_AUTH: "false"

  # ZooKeeper
  NIFI_ZK_CONNECT_STRING: "zookeeper:2181"

  NIFI_ELECTION_MAX_WAIT: "1 min"
  NIFI_ELECTION_RETRY_WAIT: "30 sec"
  NIFI_SENSITIVE_PROPS_KEY: "ChangeMeForProd"


---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nifi
spec:
  serviceName: nifi-headless
  replicas: 2
  selector:
    matchLabels:
      app: nifi
  template:
    metadata:
      labels:
        app: nifi
    spec:
      hostname: $(POD_NAME)
      subdomain: nifi-headless
      setHostnameAsFQDN: true
      initContainers:
        - name: nifi-init-tls
          image: eclipse-temurin:17-jdk
          command:
            - /bin/sh
            - -c
            - |
              set -e
              mkdir -p /opt/nifi/conf
              NODE_NAME=${POD_NAME}
              echo "Generating keystore for $NODE_NAME"
              
              which keytool

              /opt/java/openjdk/bin/keytool -genkeypair \
              -alias "$NODE_NAME" \
              -keyalg RSA \
              -keysize 2048 \
              -sigalg SHA256withRSA \
              -validity 365 \
              -dname "CN=$NODE_NAME, OU=NiFi, O=MyOrg, L=City, ST=State, C=AU" \
              -storetype PKCS12 \
              -keystore /opt/nifi/conf/"$NODE_NAME"-keystore.p12 \
              -storepass changeit \
              -keypass changeit \
              -noprompt

              # Export pod certificate
              keytool -export \
                -alias $NODE_NAME \
                -keystore /opt/nifi/conf/$NODE_NAME-keystore.p12 \
                -rfc \
                -file /opt/nifi/conf/$NODE_NAME.crt \
                -storepass changeit

              # Create / update shared truststore
              if [ ! -f /opt/nifi/conf/truststore.p12 ]; then
                keytool -genkeypair \
                  -alias dummy \
                  -keystore /opt/nifi/conf/truststore.p12 \
                  -storetype PKCS12 \
                  -storepass changeit \
                  -keypass changeit \
                  -keyalg RSA \
                  -keysize 2048 \
                  -dname "CN=dummy"
                  
                keytool -delete \
                -alias dummy \
                -keystore /opt/nifi/conf/truststore.p12 \
                -storepass changeit
              fi

              keytool -importcert \
                -alias $NODE_NAME \
                -file /opt/nifi/conf/$NODE_NAME.crt \
                -keystore /opt/nifi/conf/truststore.p12 \
                -storetype PKCS12 \
                -storepass changeit \
                -noprompt
              
              echo "Keystore and truststore generated successfully for $NODE_NAME"

          env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace

        - name: busybox
          image: busybox:latest
          command:
            - sh
            - -c
            - |
              echo "Connecting to Zookeeper ${NIFI_ZK_CONNECT_STRING}"
              until nc -vzw 1 zookeeper 2181 ; do
                echo "Waiting for zookeeper to start"
                sleep 3
              done

      containers:
        - name: nifi
          image: apache/nifi:2.7.2
          ports:
            - containerPort: 8443
              name: https
            - containerPort: 11443
              name: cluster
          envFrom:
            - configMapRef:
                name: nifi-cm
            - secretRef:
                name: nifi-auth
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NIFI_CLUSTER_NODE_PROTOCOL_HOST
              value: "$(POD_NAME).nifi-headless.nifi.svc.cluster.local"
            - name: NIFI_CLUSTER_NODE_ADDRESS
              value: "$(POD_NAME).nifi-headless.nifi.svc.cluster.local"
            - name: NODE_IDENTITY
              value: "$(POD_NAME)"
            - name: NIFI_SECURITY_KEYSTORE
              value: "/opt/nifi/conf/$(POD_NAME)-keystore.p12"
            - name: NIFI_SECURITY_KEYSTORE_TYPE
              value: "PKCS12"
            - name: NIFI_SECURITY_KEYSTORE_PASSWD
              value: "changeit"
            - name: NIFI_SECURITY_KEY_PASSWD
              value: "changeit"
            - name: NIFI_SECURITY_TRUSTSTORE
              value: "/opt/nifi/conf/truststore.p12"
            - name: NIFI_SECURITY_TRUSTSTORE_TYPE
              value: "PKCS12"
            - name: NIFI_SECURITY_TRUSTSTORE_PASSWD
              value: "changeit"

          volumeMounts:
            - name: nifi-cert
              mountPath: /opt/nifi/conf
            - name: nifi-pvc
              mountPath: /opt/nifi/nifi-current/flowfile_repository
            - name: nifi-pvc
              mountPath: /opt/nifi/nifi-current/content_repository
            - name: nifi-pvc
              mountPath: /opt/nifi/nifi-current/provenance_repository
            - name: nifi-pvc
              mountPath: /opt/nifi/nifi-current/database_repository
            - name: nifi-pvc
              mountPath: /opt/nifi/nifi-current/state

      volumes:
        - name: nifi-cert
          emptyDir: {}
        - name: nifi-pvc
          persistentVolumeClaim:
            claimName: nifi-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: nifi
spec:
  type: NodePort
  selector:
    app: nifi
  ports:
    - name: https
      port: 8443
      targetPort: 8443
      nodePort: 30084

---
apiVersion: v1
kind: Service
metadata:
  name: nifi-headless
spec:
  clusterIP: None
  selector:
    app: nifi
  ports:
    - name: cluster
      port: 11443
      targetPort: 11443
