---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nifi-data-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nifi-cm
data:
  JAVA_OPTS: "-XX:UseAVX=0 -Djavax.net.debug=ssl,handshake,address=8000"
  KEYSTORE_PASSWORD: "th1s1s3up34e5r37"
  KEYSTORE_TYPE: "PKCS12"
  NIFI_ANALYTICS_PREDICT_ENABLED: "true"
  NIFI_CLUSTER_IS_NODE: "true"
  # NIFI_CLUSTER_LOAD_BALANCE_HOST: "nifi"
  NIFI_CLUSTER_NODE_CONNECTION_TIMEOUT: "5 min"
  NIFI_CLUSTER_NODE_EVENT_HISTORY_SIZE: "25"
  # NIFI_CLUSTER_NODE_LOAD_BALANCE_PORT: "6342"
  NIFI_CLUSTER_NODE_PROTOCOL_MAX_THREADS: "20"
  NIFI_CLUSTER_NODE_PROTOCOL_PORT: "11443"
  NIFI_CLUSTER_NODE_PROTOCOL_THREADS: "10"
  NIFI_CLUSTER_NODE_READ_TIMEOUT: "5 min"
  NIFI_CLUSTER_PROTOCOL_CONNECTION_HANDSHAKE_TIMEOUT: "3 min"
  NIFI_CLUSTER_PROTOCOL_HEARTBEAT_INTERVAL: "2 min"
  NIFI_CLUSTER_PROTOCOL_IS_SECURE: "true"
  NIFI_ELECTION_MAX_CANDIDATES: "1"
  NIFI_ELECTION_MAX_WAIT: "2 min"
  NIFI_JVM_HEAP_INIT: "2g"
  NIFI_JVM_HEAP_MAX: "2g"
  NIFI_SECURITY_AUTORELOAD_ENABLED: "true"
  NIFI_SECURITY_AUTORELOAD_INTERVAL: "5 min"
  NIFI_SECURITY_NEEDCLIENTAUTH: "true"
  NIFI_SENSITIVE_PROPS_KEY_PROTECTED: "th1s1s3up34e5r37"
  NIFI_SENSITIVE_PROPS_KEY: "th1s1s3up34e5r37"
  NIFI_WEB_HTTP_PORT: ""
  NIFI_WEB_HTTPS_PORT: "8443"
  NIFI_ZK_CONNECT_STRING: "zookeeper:2181"
  NIFI_ZOOKEEPER_CONNECT_STRING: "zookeeper:2181"
  TRUSTSTORE_PASSWORD: "th1s1s3up34e5r37"
  TRUSTSTORE_TYPE: "pkcs12"
  NIFI_WEB_PROXY_HOST: "localhost:30084"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nifi-ssl-cm
data:
  security.sh: |
    #!/bin/sh
    echo "Setting up keystore and truststore..."
    mkdir -p /opt/nifi/nifi-current/keytool
    cp /mnt/keystore/$POD_NAME-keystore.p12 /opt/nifi/nifi-current/keytool/keystore.p12
    cp /mnt/keystore/nifi-truststore.p12 /opt/nifi/nifi-current/keytool/truststore.p12
    chmod 600 /opt/nifi/nifi-current/keytool/*

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nifi
spec:
  serviceName: nifi-headless
  replicas: 2
  selector:
    matchLabels:
      app: nifi
  template:
    metadata:
      labels:
        app: nifi
    spec:
      automountServiceAccountToken: false
      enableServiceLinks: false
      setHostnameAsFQDN: true
      restartPolicy: Always
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      initContainers:
        - name: wait-for-zk
          image: busybox:latest
          command:
            - sh
            - -c
            - |
              echo "Waiting for Zookeeper at zookeeper:2181"
              until nc -vzw 1 zookeeper 2181; do
                echo "Zookeeper not ready yet..."
                sleep 3
              done
      containers:
        - name: nifi
          image: apache/nifi:2.7.2
          command:
            - /bin/sh
            - -c
            - |
              /scripts/security.sh
              /opt/nifi/scripts/start.sh
          ports:
            - containerPort: 8443
              name: https
            - containerPort: 11443
              name: cluster
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NIFI_HEADLESS_SERVICE
              value: nifi-headless
            - name: NIFI_HOME
              value: "/opt/nifi/nifi-current"
            - name: NIFI_UI_BANNER_TEXT
              value: $(POD_NAME)
            - name: NIFI_CLUSTER_NODE_ADDRESS
              value: $(POD_NAME).nifi-headless.$(POD_NAMESPACE).svc.cluster.local
            - name: NIFI_CLUSTER_NODE_PROTOCOL_ADDRESS
              value: $(POD_NAME).nifi-headless.$(POD_NAMESPACE).svc.cluster.local

            - name: NIFI_WEB_HTTPS_HOST
              value: $(POD_NAME).$(NIFI_HEADLESS_SERVICE).$(POD_NAMESPACE).svc.cluster.local



            - name: NIFI_SECURITY_KEYSTORE
              value: "$(NIFI_HOME)/keytool/keystore.p12"
            - name: NIFI_SECURITY_KEYSTORE_TYPE
              value: "PKCS12"
            - name: NIFI_SECURITY_KEYSTORE_PASSWD
              value: "th1s1s3up34e5r37"
            - name: NIFI_SECURITY_KEY_PASSWD
              value: "th1s1s3up34e5r37"
            - name: NIFI_SECURITY_TRUSTSTORE
              value: "$(NIFI_HOME)/keytool/truststore.p12"
            - name: NIFI_SECURITY_TRUSTSTORE_TYPE
              value: "PKCS12"
            - name: NIFI_SECURITY_TRUSTSTORE_PASSWD
              value: "th1s1s3up34e5r37"

          envFrom:
            - configMapRef:
                name: nifi-cm
                optional: false
            - secretRef:
                name: nifi-auth
          volumeMounts:
            - name: data
              mountPath: /opt/nifi/nifi-current/data
            - name: scripts
              mountPath: /scripts/security.sh
              subPath: security.sh
              readOnly: true
            - name: keystore
              mountPath: /mnt/keystore
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: nifi-data-pvc
        - name: scripts
          configMap:
            name: nifi-ssl-cm
            defaultMode: 0755
        - name: keystore
          secret:
            secretName: nifi-keystore-secret

---
apiVersion: v1
kind: Service
metadata:
  name: nifi
spec:
  type: NodePort
  selector:
    app: nifi
  ports:
    - name: https
      port: 8443
      targetPort: 8443
      nodePort: 30084

---
apiVersion: v1
kind: Service
metadata:
  name: nifi-headless
spec:
  clusterIP: None
  selector:
    app: nifi
  ports:
    - name: cluster
      port: 11443
      targetPort: 11443
