---
apiVersion: v1
kind: Namespace
metadata:
  name: nifi

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nifi-config
  namespace: nifi
data:
  NIFI_WEB_HTTP_PORT: "8080"
  NIFI_WEB_HTTPS_PORT: ""   # Disable HTTPS
  NIFI_WEB_HTTP_HOST: "0.0.0.0"
  NIFI_CLUSTER_IS_NODE: "false"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nifi
  namespace: nifi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nifi
  template:
    metadata:
      labels:
        app: nifi
    spec:
      containers:
        - name: nifi
          image: apache/nifi:2.7.2
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: nifi-config
          env:
            - name: NIFI_WEB_HTTP_HOST
              value: "0.0.0.0"
          volumeMounts:
            - name: nifi-data
              mountPath: /opt/nifi/nifi-current/data
      volumes:
        - name: nifi-data
          emptyDir: { }

---
apiVersion: v1
kind: Service
metadata:
  name: nifi-nodeport
  namespace: nifi
spec:
  type: LoadBalancer
  selector:
    app: nifi
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30080
